{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
    <h1 class="text-white">Liste des stagiaires</h1>

    <a href="{{ path('new_stagiaire') }}" class="btn btn-success w-25">Ajouter un stagiaire</a>

    <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr>
                <th>Stagiaire</th>
                <th>Session</th>
                <th>Modifier</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
            <tr>
                <td>
                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}" class="align-middle text-decoration-none">{{ stagiaire }}</a>  
                </td>
                <td>
                    {# {{ stagiaire.session.nomSession }} #}
                </td>
                <td>
                    {# <a class="btn btn-warning" href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Edit</a> #}
                </td>
                <td>
                    {# <a class="btn btn-danger" href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">Supprimer</a> #}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}