{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
    <h1 class="text-white">Liste des sessions</h1>

    <a href="{{ path('new_session') }}" class="btn btn-success w-25">Ajouter une session</a>

    <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr>
                <th>Session</th>
                <th>Modifier</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>
                    <a href="{{ path('show_session', {'id': session.id}) }}" class="align-middle text-decoration-none">{{ session }}</a>  
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path('edit_session', {'id': session.id}) }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
