{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
    <h1 class="text-white">Liste des sessions</h1>

    <a href="{{ path('new_session') }}" class="btn btn-success w-25">Ajouter une session</a>

    <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr class="text-center">
                <th>Intitulé Session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
                <th>Détails programme</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            {# Calcul du nombre de places réservées pour cette session #}
            {% set placesReservees = 0 %}
            {% for stagiaire in session.stagiaires %}
                {% set placesReservees = placesReservees + 1 %}
            {% endfor %}
    
            {# Calcul du nombre de places restantes #}
            {% set placesRestantes = session.placesTheoriques - placesReservees %}
    
            <tr class="text-center">
                <td class="align-middle">
                    <a href="{{ path('show_session', {'id': session.id}) }}" class="align-middle text-decoration-none">{{ session }}</a>  
                </td>
                <td class="align-middle">
                    {{ session.dateDebut | date("d/m/Y") }}
                </td>
                <td class="align-middle">
                    {{ session.dateFin | date("d/m/Y") }}
                </td>
                <td class="align-middle">
                    {{ session.placesTheoriques }}
                </td>
                <td class="align-middle">
                    {{ placesReservees }}
                </td>
                <td class="align-middle">
                    {{ placesRestantes }}
                </td>
                <td class="align-middle">
                    <a href="{{ path('show_programme', {'id': session.id}) }}"> {# en cliquant sur l'icone on affiche le programme qui relie les entités Session et Cours#}
                        <i class="fa-solid fa-rectangle-list"></i>
                    </a>
                </td>
                <td class="align-middle">
                    {# <a class="btn btn-warning" href="{{ path('edit_session', {'id': session.id}) }}">Edit</a> #}
                </td>
                <td class="align-middle">
                    <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
