{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
    <h1>Détail d'une session</h1>

    <h2>Nom de la session : {{ session }}</h2>

    <h3>Liste des cours :</h3>

    <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr class="text-center">
                <th>Module</th>
                <th>NbJours</th>
            </tr>
        </thead>
        <tbody>
            {% for programme in programmes %}
                <tr class="text-center">
                    <td>{{ programme.cours }}</td>
                    <td>{{ programme.nbJours }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Liste des stagiaires inscrit à une session :</h3>

    {# <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr class="text-center">
                <th>Stagiaire N°</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% set counter = 1 %}
            {% for stagiaire in stagiaires %}
                <tr class="text-center">
                    <td>{{ counter }}</td>
                    <td>
                        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nom }}</a>
                    </td>
                    <td>{{ stagiaire.prenom }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('edit_session', {'id': session.id}) }}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}

    {# Tableau des stagiaires inscrits #}
    <h2>Stagiaires inscrits à la session</h2>
    <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr class="text-center">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr class="text-center">
                    <td>{{ stagiaire.nom }}</td>
                    <td>{{ stagiaire.prenom }}</td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('remove_session', {'id': session.id, 'stagiaire_id': stagiaire.id}) }}">Retirer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Tableau des stagiaires non inscrits #}
    <h2>Stagiaires non inscrits à la session</h2>
    <table class="table table-hover table-responsive">
        <thead class="table-light">
            <tr class="text-center">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaireNotInSession %}
                <tr class="text-center">
                    <td>{{ stagiaire.nom }}</td>
                    <td>{{ stagiaire.prenom }}</td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('add_session', {'id': session.id, 'stagiaire_id': stagiaire.id}) }}">Ajouter</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}