{% extends 'base.html.twig' %}

{% block title %}Liste des programmes{% endblock %}

{% block body %}

    <h1 class="text-white">Liste des programmes</h1>

    <a href="{{ path('new_programme') }}" class="btn btn-success w-25">Ajouter un programme</a>

    {% for programme in programmes %}

        <h2>{{ programme.session }}</h2>

        <table class="table table-hover table-responsive">
            <thead class="table-light">
                <tr class="text-center">
                    <th>Module</th>
                    <th>NbJours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="text-center" style="background-color: rgb(63, 103, 189); color: white">{{ programme.cours.categorie.nomCategorie }}</td>
                </tr>
                {% for programme in programmes %}
                    <tr class="text-center">
                        <td>{{ programme.cours.nomModule }}</td>
                        <td>{{ programme.nbJours }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a class="btn btn-warning w-25" href="{{ path('edit_programme', {'id': programme.id}) }}">Edit</a>
        
        <a class="btn btn-danger w-25" href="{{ path('delete_programme', {'id': programme.id}) }}">Supprimer</a>

    {% endfor %}


{% endblock %}
