{% extends 'base.html.twig' %}

{% block title %}Ajouter un programme{% endblock %}

{% block body %}

    {% if edit %}
        <h1>Editer un programme</h1>
    {% else %}
        <h1>Ajouter un programme</h1>
    {% endif %}

    {{ form_start(formAddProgramme) }}
        {{ form_row(formAddProgramme.cours)}}
        {{ form_row(formAddProgramme.session) }}
        {{ form_row(formAddProgramme.nbJours) }}
        {{ form_row(formAddProgramme.valider) }}
    {{ form_end(formAddProgramme) }}

{% endblock %}